nav {
  background-color: #222;
  color: white;
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 1.2em;
}

.home-link {
  flex: 1;
}

@media all and (max-width: 600px) {
  nav {
    flex-wrap: wrap;
  }
  nav a {
    flex-basis: 100%;
  }
}