main {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 60%;
  justify-items: stretch;
}

@media all and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

main a {
  text-decoration: none;
}

main a:focus {
  color: #40a060;
}

.list h1 {
  text-align: center;
  font-size: 1.5em;
}

.list ul {
  list-style: none;
  padding-left: 30%;
}


.list table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 500px;
  border: 1px solid #ddd;
}

.list th,
.list td {
  text-align: left;
  padding: 16px;
}

.list tr:nth-child(even) {
  background-color: #f2f2f2
}
